---
import "../styles/global.css";
import BaseLayout from '../layouts/BaseLayout.astro';

// For recent post (unfortunately still must do manually until I get better at this)
const recentTitle = "crash bandicoot";
const recentDate = "5/15/25";
const recentDesc = "yeah, if only the camera angle was better..."
const recentURL = "/posts/crash_bandicoot";

const pageTitle = "home";

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<BaseLayout pageTitle = {pageTitle}>
	<div class="flex center" style="border-color:pink;">
		<h2>hello</h2>
		<div class="bottom">
			<p>
				hi hi hello! i am
				<span class="bold">FUNKIRBO,</span>
				a player of games!
				<br />
				<br />
				i like video games. a lot. i write reviews on here, then
				throw together video versions for youtube! you can check out
				the most recent one just below, or all of them in the
				<a href="https://www.funkirbo.net/review_directory">
					review directory
				</a>
			</p>
		</div>
	</div>
	<div class="flex center"style="border-color:pink;">
		<h2>recent review</h2>
		<div class="bottom">
			<div class = "bottom">
				<p>
					<a href={recentURL}>{recentTitle}</a><br>
					<span class = "smaller">{recentDate}<br>{recentDesc}</span>
				</p>
			</div>
		</div>
	</div>
	<div class="flex center"style="border-color:pink;">
		<h2>socials</h2>
		<div class="bottom">
			<ul>
				<li class="nb">
					<a href="https://backloggd.com/u/funkirbo/">
						backloggd
					</a>
				</li>
				<li class="nb">
					<a href="https://twitter.com/funkirbo/">twitter</a>
				</li>
				<li class="nb">
					<a href="https://bsky.app/profile/funkirbo.bsky.social">
						bluesky
					</a>
				</li>
				<li class="nb">
					<a href="https://twitch.tv/funkirbo/">twitch</a>
				</li>

				<li class="nb bottom">
					<a href="https://youtube.com/@funkirbo">youtube</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="flex center"style="border-color:pink;">
		<h2>my spreadsheet</h2>
		<div class="bottom">
			<p>
				basically this sheet has my collection, plus my notes on my
				finished games and stuff like that. it's not super
				interesting, and honestly most of the info is on my
				backloggd, but hey. if you want, it's there haha
			</p>
			<p>
				<a
					href="https://docs.google.com/spreadsheets/d/1_Fm6rutdAl4gkdnQVCC6XJj9DMk3xo4alC3jTgTJgeo/edit?usp=sharing"
				>
					the spreadsheet
				</a>
			</p>
		</div>
	</div>
</div>
</BaseLayout>
