---
import "../styles/global.css";
import BaseLayout from '../layouts/BaseLayout.astro';

// For recent post (unfortunately still must do manually until I get better at this)
const recentTitle = "halo: combat evolved";
const recentDesc = "at least it's got the hype moments..."
const recentURL = "/posts/halo_combat_evolved";
const recentImage = "/post_images/galo_combat_evolved.jpg";

const pageTitle = "home";
const pageDesc = "the home of funkirbo talks games!!!";

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<html>
	<head>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
	</head>
</html>
<BaseLayout pageTitle = {pageTitle}>
	<div class="flex center">
		<h2>hello</h2>
		<div class="bottom">
			<p>
				hi hi hello! i am
				<span class="bold">FUNKIRBO,</span>
				a player of games!
				<br />
				<br />
				i like video games. a lot. i write little notes about games on here! you can check out
				the most recent one just below, or all of them in the
				<a href="https://www.funkirbo.net/review_directory">
					game notes
				</a>
				tab
			</p>
		</div>
	</div>
	<div class="flex center">
		<h2>recent note</h2>
		<div class="bottom">
			<div class = "bottom">
				<p>
					<a href={recentURL}>{recentTitle}</a><br>
					<span class = "smaller">{recentDesc}</span>
				</p>
			</div>
		</div>
		<img style="width:60%;margin-bottom:10px;" class="center"src={recentImage}>
	</div>
	<div class="flex center">
		<h2>socials</h2>
		<div class="bottom">
			<ul>
				<li class="nb">
					<a href="https://backloggd.com/u/funkirbo/">
						backloggd
					</a>
				</li>
				<li class="nb">
					<a href="https://twitter.com/funkirbo/">twitter</a>
				</li>
				<li class="nb">
					<a href="https://bsky.app/profile/funkirbo.bsky.social">
						bluesky
					</a>
				</li>
				<li class="nb">
					<a href="https://twitch.tv/funkirbo/">twitch</a>
				</li>

				<li class="nb bottom">
					<a href="https://youtube.com/@funkirbo">youtube</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="flex center">
		<h2>my spreadsheet</h2>
		<div class="bottom">
			<p>
				basically this sheet has my collection, it's not super
				interesting, and honestly most of the info is on my
				backloggd, but hey. if you want, it's there haha
			</p>
			<p>
				<a
					href="https://docs.google.com/spreadsheets/d/1_Fm6rutdAl4gkdnQVCC6XJj9DMk3xo4alC3jTgTJgeo/edit?usp=sharing"
				>
					the spreadsheet
				</a>
			</p>
		</div>
	</div>
</div>
</BaseLayout>
