---
import BaseLayout from '../layouts/BaseLayout.astro'
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "reviews";
---
<BaseLayout pageTitle={pageTitle}>
    <div class = "flex center">
        <h2>reviews</h2>
        <div class="bottom">
            <p>these are my reviews, sorted alphabetically!</p>
        </div>
    </div>
    <div class = "flex center">
            {allPosts.map((post: any) => <div class = "bottom"><p><a href={post.url}>{post.frontmatter.title}</a><br><span class = "smaller">{post.frontmatter.date}<br>{post.frontmatter.description}</span></p></div>)}
    </div>
</BaseLayout>