---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="../favicon.ico">
        <meta charset ="utf-8">
    </head>
</html>
<BaseLayout pageTitle = {frontmatter.title} pageDesc = {frontmatter.description} pageImage = {frontmatter.image}>
    <div class = "flex center">
        <h2>{frontmatter.title}</h2>
        <p class = "smaller center" style = "text-align:center;">{frontmatter.release}</p>
        <img src={frontmatter.image} style='width:90%;margin:auto;border:1px solid white;'>
        <div>
            <slot />
        </div>
        <p style="text-align:center;"><span class = "bold">{frontmatter.score}/10</span> played on {frontmatter.platform}
    </div>
</BaseLayout>