---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle = {frontmatter.title}>
    <div class = "flex center">
        <h2>{frontmatter.title}</h2>
        <p class = "smaller center" style = "text-align:center;">{frontmatter.release}</p>
        <img src={frontmatter.image} style='width:90%;margin:auto;border:1px solid white;'>
        <div>
            <slot />
        </div>
        <p style="text-align:center;"><span class = "bold">{frontmatter.score}/10</span> played on {frontmatter.platform}
        <br>
        <a href = {frontmatter.video}>video review</a>
        <br>
        <span class = "smaller">{frontmatter.date}</span></p>
    </div>
</BaseLayout>